body {
  text-align: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #fdc4af
}


.GC {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


h1 {
  background-color: transparent;
  color: #ffff;
  font-family: var(--font-family-omnes-bold);
  font-size: 150px;
  font-weight: 700;
  font-style: italic;
  height: auto;
  left: 118px;
  letter-spacing: 0.00px;
  line-height: 218px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  top: 150px;
  width: auto;
}

@media (min-width: 320px) {
  h1 {
     /*calc([minimum size] + ([maximum size] - [minimum size]) * 
    ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])))*/
    font-size: calc(50px + (150 - 50) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(50px + (218 - 50) * ((100vw - 320px) / (1920 - 320)));
  }
}


p {
  color: #FFF8DC;
  font-family: var(--font-family-omnes-bold);
  font-size: 30px;
  text-align: center;
}

button {
  background-color:	#9ADDF0;
  font-family: var(--font-family-omnes-bold);
  color: #FFF8DC;
  font-size: 40px;
  border-radius: 12px;
  border: 2px solid #FFF8DC;
  cursor: pointer;
  top: 50;
}

button:hover {background-color: #79d8f2}


/*added to a div element*/
.content{
  position: relative;
  margin-top: -20%;
}

/*added to keep the footer down farther*/
footer{
  display: block;
  margin: 200px;
}