body {
  text-align: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #fdc4af
}


.GC {
  background-repeat: no-repeat;
  background-size: auto;
}


h1 {
  background-color: transparent;
  color: #ffff;
  font-family: var(--font-family-omnes-bold);
  font-size: 150px;
  font-weight: 700;
  font-style: italic;
  height: auto;
  left: 118px;
  letter-spacing: 0.00px;
  line-height: 218px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  top: 150px;
  width: auto;
}


p {
  color: #FFF8DC;
  font-family: var(--font-family-omnes-bold);
  font-size: 30px;
  text-align: center;
}

.Button {
  background: #9addf0;
  color: white;
  margin: 20px 20px;
  font-size: 40px;
  width: 80%;
  height: 8%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

button {
  background-color:	#9ADDF0;
  font-family: var(--font-family-omnes-bold);
  color: #FFF8DC;
  font-size: 40px;
  border-radius: 12px;
  border: 2px solid #FFF8DC;
  cursor: pointer;
  top: 50;
}






